@charset "UTF-8";

@font-face {
  font-family: "pro-css";
  src:url("fonts/pro-css.eot");
  src:url("fonts/pro-css.eot?#iefix") format("embedded-opentype"),
    url("fonts/pro-css.woff") format("woff"),
    url("fonts/pro-css.ttf") format("truetype"),
    url("fonts/pro-css.svg#pro-css") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pro-css" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pro-"]:before,
[class*=" pro-"]:before {
  font-family: "pro-css" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pro-amazon:before {
  content: "\68";
}
.pro-behance-square:before {
  content: "\61";
}
.pro-codepen:before {
  content: "\62";
}
.pro-facebook:before {
  content: "\63";
}
.pro-facebook-official:before {
  content: "\64";
}
.pro-facebook-square:before {
  content: "\65";
}
.pro-github:before {
  content: "\66";
}
.pro-git-square:before {
  content: "\67";
}
.pro-git:before {
  content: "\69";
}
.pro-github-alt:before {
  content: "\6a";
}
.pro-github-square:before {
  content: "\6b";
}
.pro-linkedin:before {
  content: "\6c";
}
.pro-linkedin-square:before {
  content: "\6d";
}
.pro-linux:before {
  content: "\6e";
}
.pro-paper-plane:before {
  content: "\6f";
}
.pro-trello:before {
  content: "\70";
}
.pro-twitter:before {
  content: "\71";
}
.pro-twitter-square:before {
  content: "\72";
}
.pro-wordpress:before {
  content: "\73";
}
.pro-youtube-play:before {
  content: "\74";
}
.pro-youtube-square:before {
  content: "\75";
}
.pro-youtube:before {
  content: "\76";
}
.pro-whatsapp:before {
  content: "\77";
}
.pro-windows:before {
  content: "\78";
}
.pro-mark-github:before {
  content: "\79";
}
.pro-angle-up:before {
  content: "\7a";
}
.pro-angle-right:before {
  content: "\41";
}
.pro-angle-left:before {
  content: "\42";
}
.pro-angle-down:before {
  content: "\43";
}
.pro-angle-double-up:before {
  content: "\44";
}
.pro-angle-double-right:before {
  content: "\45";
}
.pro-angle-double-left:before {
  content: "\46";
}
.pro-angle-double-down:before {
  content: "\47";
}
.pro-arrow-right:before {
  content: "\48";
}
.pro-arrow-up:before {
  content: "\49";
}
.pro-arrow-left:before {
  content: "\4a";
}
.pro-arrow-down:before {
  content: "\4b";
}
.pro-caret-right:before {
  content: "\4c";
}
.pro-caret-left:before {
  content: "\4d";
}
.pro-caret-down:before {
  content: "\4e";
}
.pro-caret-up:before {
  content: "\4f";
}
.pro-caret-square-o-up:before {
  content: "\50";
}
.pro-caret-square-o-right:before {
  content: "\51";
}
.pro-caret-square-o-left:before {
  content: "\52";
}
.pro-caret-square-o-down:before {
  content: "\53";
}
.pro-chevron-down:before {
  content: "\54";
}
.pro-chevron-left:before {
  content: "\55";
}
.pro-chevron-right:before {
  content: "\56";
}
.pro-chevron-up:before {
  content: "\57";
}
.pro-ellipsis-h:before {
  content: "\58";
}
.pro-ellipsis-v:before {
  content: "\59";
}
.pro-download:before {
  content: "\5a";
}
.pro-check:before {
  content: "\30";
}
.pro-check-square:before {
  content: "\31";
}
.pro-check-square-o:before {
  content: "\33";
}
.pro-home:before {
  content: "\32";
}
.pro-folder-open:before {
  content: "\34";
}
.pro-folder-open-o:before {
  content: "\35";
}
.pro-folder:before {
  content: "\36";
}
.pro-folder-o:before {
  content: "\37";
}
.pro-info-circle:before {
  content: "\38";
}
.pro-info:before {
  content: "\39";
}
.pro-moon-o:before {
  content: "\21";
}
.pro-plus-circle:before {
  content: "\22";
}
.pro-pinterest-square:before {
  content: "\23";
}
.pro-pinterest-p:before {
  content: "\24";
}
.pro-pinterest:before {
  content: "\25";
}
.pro-share-alt-square:before {
  content: "\26";
}
.pro-sun-o:before {
  content: "\27";
}
.pro-cloud-download:before {
  content: "\28";
}
.pro-thumbs-up:before {
  content: "\29";
}
.pro-thumbs-o-up:before {
  content: "\2a";
}
.pro-thumbs-o-down:before {
  content: "\2b";
}
.pro-thumbs-down:before {
  content: "\2c";
}
.pro-trash-o:before {
  content: "\2d";
}
.pro-trash:before {
  content: "\2e";
}
.pro-user:before {
  content: "\2f";
}
.pro-users:before {
  content: "\3a";
}
.pro-alert:before {
  content: "\3b";
}
.pro-globe:before {
  content: "\3c";
}
.pro-sign-in:before {
  content: "\3d";
}
.pro-sign-out:before {
  content: "\3e";
}
.pro-search:before {
  content: "\3f";
}
.pro-search-1:before {
  content: "\40";
}

/*********************/

.pro-check::before{
  content: '\2611';
}

.pro-check-empty::before{
  content: '\2610';
}

.pro-phone::before{
  content: '\260E';
}

.pro-phone-outline::before{
  content: '\260F';
}

.pro-star::before{
  content: '\2605';
}

.pro-star-outline::before{
  content: '\2606';
}

.pro-male::before{
  content: '\2642';
}

.pro-female::before{
  content: '\2640';
}

.pro-face::before{
  content: '\263B';
}

.pro-face-outline::before{
  content: '\263A';
}

.pro-cloud::before{
  content: '\2601';
}

.pro-umbrella::before{
  content: '\2602';
}

.pro-flag::before{
  content: '\2691';
}

.pro-flag-outline::before{
  content: '\2690';
}

.pro-scissors::before{
  content: '\2702';
}

.pro-plane::before{
  content: '\2708';
}

.pro-email-outline::before{
  content: '\2709';
}

.pro-pencil::before{
  content: '\270E';
}

.pro-true::before{
  content: '\2714';
}

.pro-false::before{
  content: '\2718';
}

.pro-plus::before{
  content: '\271A';
}

.pro-one::before{
  content: '\2776';
}

.pro-one-outline::before{
  content: '\2780';
}

.pro-two::before{
  content: '\2777';
}

.pro-two-outline::before{
  content: '\2781';
}

.pro-three::before{
  content: '\2778';
}

.pro-three-outline::before{
  content: '\2782';
}

.pro-four::before{
  content: '\2779';
}

.pro-four-outline::before{
  content: '\2783';
}

.pro-five::before{
  content: '\277A';
}

.pro-five-outline::before{
  content: '\2784';
}

.pro-six::before{
  content: '\277B';
}

.pro-six-outline::before{
  content: '\2785';
}

.pro-seven::before{
  content: '\277C';
}

.pro-seven-outline::before{
  content: '\2786';
}

.pro-eight::before{
  content: '\277D';
}

.pro-eight-outline::before{
  content: '\2787';
}

.pro-nine::before{
  content: '\277E';
}

.pro-nine-outline::before{
  content: '\2788';
}

.pro-ten::before{
  content: '\277F';
}

.pro-ten-outline::before{
  content: '\2789';
}

.pro-arrow-left::before{
  content: '\279C';
}

.pro-copywrite::before{
  content: '\00A9';
}

